
input {

  udp {
    port => 4040
  }
}


filter {

  json {
    source => "message"
    target => "metric"
  }

  mutate {
    remove_field => [ "message" ]
  }
}


output {

  elasticsearch {

    hosts => ["{{elastic_host}}:9200"]
    index => "sensu_metrics-%{+YYYY.MM.dd}"

  }
} 


